{{!-- <div id="bdiv">
    {{#if content}}
        {{content}}
    {{/if}}
</div>

<div id="nums">
    {{#each nums}}
    <div>{{this}}</div>
    {{/each}}
</div> --}}

<div>
    <div class="bghome"></div>
    <div class="headerhome">
        <h1 class="homecaption">Makaronia</h1>
    </div>
    <div class="flexcontect">
        <div class="productflex">
            {{#each makaron}}
            <div class="makaroncontainer" id="{{this.title}}">
                <div class="figure">
                    <img clas="figimg" src="/images/{{this.title}}.jpg" alt="{{this.title}}">
                    <h3 class="mkrncaption">{{this.title}}</h3>
                </div>
                <div class="radialblack"></div>
                <div class="darktrans"></div>
            </div>
            {{/each}}
        </div>
        <div class="homecontent">
            <h3>Witamy w Makaronii —</h3>
            <p style="margin-bottom: 15px;">Na tej stronie dowiesz się ta odrazu zamówisz sobie kilka porcji najładniejszych makaron. Na tej stronie jest umieszczono najładniejsze makaorony, które są bardzo używane na okolicach Europy oraz Polski.</p>
            <p>Ale też <a class="acontent" href="/chefs">możesz znaleźć</a> szefów, które Cię napewno zainteresują, bo oni są jedni z szefów makaron nami smakowanych</p>
            <p style="margin-bottom: 15px;">Także możesz dowiedzieć się nie wielu o <a class="acontent" href="/recipes">recipes</a> według makaron wyłącznie o najsmaczniejwych z naszych zamówień</p>
            <h4>Tutaj możesz zamówić —</h4>
            <p>Na <a class="acontent" href="/shop">tamtej strone</a> możesz już zamówić, jednak najpierw musisz wybrać swoją ulubioną na tej stronie potrawę, naciskając na jeden z tych wyborów</p>
            <h4>Skontaktuj się z nami —</h4>
            <p style="margin-bottom: 150px"><a class="acontent" href="/contact">Skontaktuj się z nami</a> jeśli masz jakieś pytania czy masz jakiś problem</p>
            <p id="choosed" style="margin-bottom: 0;">Wybrane dania: </p><br>
            <a class="moveshop" href="/shop">Przejść</a>
            <button type="button" class="moveshop" style="border: none; font-size: 1em; cursor:pointer" onclick="clearer()">Oczyścić</button>
        </div>
    </div>
</div>